<!DOCTYPE html>
<html>
<head>
  <title>Register new user</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
  <div class="container">
    <h1>Register here</h1>
    <br>
    <form class="form-signin" method="post" action="">
      <input type="text" placeholder="Username" name="username" value="{{
        request.form.username }}">
      <input type="password" placeholder="Password" name="text" value="{{
        request.form.password }}">
      <input class="btn btn-default" type="submit" value="Register">
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
    <p>Click <a href="/login">here</a> to go back to login page.</p>
  </div>
</body>

</html>