<!DOCTYPE html>
<html>
  <head>
    <title>Honeyword Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>List of Tracked Index</h1>
      <br>
      <p>Click <a href="/logout">here</a> to logout.</p>
      <p>Click <a href="/">here</a> to go back to User Credentials.</p>
      <br>
      {% for user in users %}
        <strong>User Name:</strong> {{ user.username }} <br>    
        <strong>Index:</strong> {{ user.idx }} <br>
        <br>
      {% endfor %}
    </div>
  </body>
</html>